body{

margin:0px;
height: 100vh;
width: 100vw;

}

#wrapper{
margin-left: auto;
margin-right: auto;
height: 100%;
width: 90%;

}

nav{
width: 50%;
height:100%;
background-color: antiquewhite;
}

header{
    width: 50%;
    height:100%;
    background-color: rgb(87, 52, 6);
    }
    
#container_top{
    display:flex;
    width: 100%;
    height:10%;
    }
#container_center{
    display:flex;
    width: 100%;
    height:60%;
    }    

aside{
    width: 30%;
    height:100%;
    background-color: rgb(40, 192, 42);
    }
main{
    width: 70%;
    height:100%;
    background-color: blue;

}
footer{
    width: 100%;
    height:10%;
    background-color: rgb(232, 37, 154);


}     


@media screen and (max-width: 1200px) {

    #container_center{

    flex-direction: column;

    }
    aside{
        width:100%;
    }
    main{
        width: 100%;
    }


}
@media screen and (max-width: 700px) {




    
}